.sidenavbar {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color:rgb(255, 255, 255);
    flex: 1;
    color: rgb(212, 212, 212);
    text-align: center;
    box-shadow: 5px 5px solid rgb(rgba(0, 0, 0, 0)reen, blue);
}

.sidenavbar > p {
    padding-left: 5px;
    text-align: left;
    color: rgb(83, 83, 83);
    margin: 3px 0px;
}

.sidenavbar > h3 {
    font-size: 1.5em;
    text-align: center;
    color: black;
}