.clublist {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 0px;
    height: 100%;
    width: auto;
    overflow: scroll;
    flex-basis: 744px;
    position: relative;
    align-self: center;
}

.clublist ClubCard {
    width: 100%;
}